<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PmsXchangeServiceSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="PmsXchangeServiceSoap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cmtpi.siteminder.com:443/pmsxchangev2/services/SPIORANGE"
                binding="basicHttpBinding" bindingConfiguration="PmsXchangeServiceSoap11"
                contract="pmsXchangeService.PmsXchangeService" name="PmsXchangeServicePort" />
        </client>
    </system.serviceModel>
</configuration>